.card-align{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.quantity-feild{
    height: 40px;
    width: 300px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #31c75e;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.add-quantity{
    padding-top: 20px;
    padding-bottom: 20px;
}
.button-quantity-add{
    background-color: #06c044;
    color: aliceblue;
    font-weight: bold;
    padding-left:13px ;
    padding-right:13px ;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #06c044;
    
   

}
.inventory-button{
    background-color: #06c044;
    color: aliceblue;
    font-weight: bold;
    padding-left:13px ;
    padding-right:13px ;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #06c044;
    border-radius: 3px;
    
}