.nav-bar{
    background-color: rgb(179, 4, 4);
    height: 55px;
    display: flex;
    
    align-items: center;
    
    
}

.header{
    margin-left:200px ;
    margin-right:200px ;
    text-decoration: none;
    
    
    
}
.link-decoration{
    text-decoration: none;
    color: beige;
    padding-left: 20px;
    font-weight: bold;
    font-size: larger;
    
    
}
.link-decoration:hover{
    color: darkolivegreen;
}
.link-decoration:focus{
    color: darkolivegreen;
}

.signOut-button{
    border: 1px solid rgb(11, 11, 71);
    border-radius: 3px;
    font-weight: bold;
}
.signOut-button:hover{
    border: 1px solid rgb(11, 11, 71);
    border-radius: 3px;
    color: blue;
}