


.route{
    display: flex;
}
.link-decoration{
     
    font-weight: bold;
    font-size: larger;
    
    
}
.nav div ul li:hover{
    color: rgb(41, 63, 3);
}
.link-decoration:focus{
    color: darkolivegreen;
}

.signOut-button{
    border: 1px solid rgb(11, 11, 71);
    border-radius: 3px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signOut-button:hover{
    border: 1px solid rgb(11, 11, 71);
    border-radius: 3px;
    color: blue;
}
@media only screen and (max-width:688px){
    .route{
        display: block;
    }    

}