.question-blog{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.question-design{
 font-weight: bold;
 color: #a70f0f;
}
.question-answer{
 font-weight: 600;
 font-size: 20px;
}